<h2><%= @drink.name %></h2>
<!-- IMAGE -->
<div>
  <img class="middle img-responsive" src="assets/<%= @drink.image_file %>"/> 
</div>
<!-- NAVEGATION TABS -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#description" data-toggle="tab" aria-expanded="true">Description</a></li>
  <li class=""><a href="#ingredients" data-toggle="tab" aria-expanded="true">Ingredients</a></li>
  <li class=""><a href="#directions" data-toggle="tab" aria-expanded="true">Directions</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="description">
    <p><%= @drink.description %></p>
  </div>
  <div class="tab-pane fade" id="ingredients">
    <p><%= @drink.ingredients %></p>
  </div>
  <div class="tab-pane fade" id="directions">
    <p><%= @drink.directions %></p>
  </div>

    <%= link_to "delete", @drink, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to "edit", edit_drink_path(@drink.id) %>

</div>
<!-- BACK BOTTON -->
<div class="backbotton">
	<button type="button" class="btn btn-primary"
	<button onclick="window.history.back()">Back</button>
</div>