<% provide(:title, 'Add Item') %>
<h1>Add Drink</h1>

<%= form_for(@drink) do |drink| %>
  <%= render 'shared/error_messages', object: drink.object %>

  <%= drink.label :name %>
  <%= drink.text_field :name, autofocus: true %>

  <br>
  <%= drink.label :ingredients %>
  <%= drink.text_field :ingredients %>

  <br>
  <%= drink.submit 'Create your Drink' %>
<% end %>